doctype html 
html 
    head 
        title= title
        link(rel="stylesheet" href="/css/bootstrap.min.css")
    body
        div.container
            block content
        script(type='text/javascript', src='js/jquery.min.js')
        script(type='text/javascript', src='/js/index.js')